body{
    font-family: 'Roboto', sans-serif;
}
button a{
text-decoration: none;
}
a:hover{
    color: red;
}
.headerMenu{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
nav ul li {
    display: inline-block;
    margin-left: 1em;
}
nav ul li a {
    text-decoration: none;
    font-weight: bold;
}
.backgroundImage{
    width: 100%;
    transition-duration: 0.2s;
}
.frontimage{
  width: 300px;
  height: 300px;
  position: absolute;
  left: 550px;
  top: 200px;
  z-index: 1;
}
.buttoncinema{
  position: absolute;
  left: 550px;
  top: 500px;
  z-index: 1;
  border: 0;
  background-color: transparent;
}
.acinema{
    color: white;
    font-size: 25px;
  }
.buttonA{
    position: absolute;
    left: 480px;
    top: 550px;
    z-index: 1;
}
.billet{
    width: 200px;
    height: 50px;
    background-color: rgba(255, 166, 0, 0.658);
    border-radius: 10% 10% 10% 10% / 47% 46% 53% 53%;
    border: 0;
  }
  .savoirplus{
    margin-left: 2em;
    width: 200px;
    height: 50px;
    background-color:transparent;
    border: 1px solid white;
    border-radius: 10% 10% 10% 10% / 47% 46% 53% 53%;
    color: red;
  }
  .asavoir{
    color: white;
    font-weight: bold;
    font-size: 20px;
  }
  .abillet{
    color: black;
    font-weight: bold;
    font-size: 15px;
  }
  .menupicture{
    display: flex;
    position: absolute;
    top: 660px;
    justify-content: space-around;
  }
  .imgirl{
    margin-left: 1em;
    width: 90%;
    transition-duration: 0.2s;
  }
  .backgroundImage:hover{
    transform: scale(1.03);
  }
  .imgirl:hover{
    transform: scale(1.03);
  }
 #Ancre{
  
 }
 .headerMenu{
  position: fixed;
  top: 0;
  width: 100%;
 }
 main{
  padding-top: 80px;
 }
 .paralax{
  background-image: url(/img/attraction.jpeg);
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 }